name: Deploy to DigitalOcean App Platform

on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  deploy:
    name: Trigger DO App Platform deployment
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Log in to DigitalOcean Container Registry
        uses: docker/login-action@v3
        with:
          registry: registry.digitalocean.com
          username: doctl
          password: ${{ secrets.DIGITALOCEAN_API_TOKEN }}
   
      - name: Build and push Docker image to DOCR
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: registry.digitalocean.com/octobidapi/octobid-web:latest
      - name: Deploy to DigitalOcean App Platform
        uses: digitalocean/app_action@v1.1.5
        with:
          app_name: octobid-main-website
          token: ${{ secrets.DO_TOKEN }}